body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header-logo {
    display: flex;
    cursor: pointer;
}
.header-logo img{
    filter: invert(1);
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.header-logo p{
    font-size: 24px;
    padding-top: 7px;
    margin-left: -8%;
}
